@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{  
    font-family: "Quicksand",serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sheared part of the project */
.display-flex{
    display: flex;
}
.text-color-1{
    color: #FEA301;
}
.text-color-2{
    color: #01acfd;
}
.text-color-3{
    color: #05D4DF;
}
.text-color-4{
    color: #5D58EF;
}
.btn-primary{
    padding: 15px 40px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #FEA301;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #ccc;
}
.btn-secondary{
    padding: 1rem 3rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
    background-color: #111111;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    transition: ease-in 0.3s;
}
.description{
    font-size: 1.1rem;
    font-weight: 200;
    color: #111111;
}

/* header part */

.navbar{
    justify-content: space-around;
    padding: 1.4rem;
}
.logo{
    align-items: center;
    cursor: pointer;
}
.header-title{
    font-size: 2.5rem;
    margin-left: 1.3rem;
}
.ul-container{
    justify-content: space-around;
    align-items: center;
}
.ul-container li{
    list-style: none;
    font-size: 1.3rem;
}
.ul-container li a{
    text-decoration: none;
    margin-left: 30px;
    transition: all 0.2s ease-in-out;
    padding: 0.4rem;
    letter-spacing: 0;
}
.btn-primary{
    margin-left: 50px;
    transition: ease-out 0.4s;
}
.list-1{
    border-left: 4px solid #FEA301;
}
.list-2{
    border-left: 4px solid #01ACFD;
}
.list-3{
    border-left: 4px solid #05D4DF;
}
.list-4{
    border-left: 4px solid #5D58EF;
}
.bar{
    display: none;
}


/*navbar hover section */
.list-1:hover{
    letter-spacing: 0.1rem;
    background-color: #FEA301;
    color: #fff;
    font-weight: 600;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}
.list-2:hover{
    letter-spacing: 0.1rem;
    background-color: #01ACFD;
    color: #fff;
    font-weight: 600;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}
.list-3:hover{
    letter-spacing: 0.1rem;
    background-color: #05D4DF;
    color: #fff;
    font-weight: 600;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}
.list-4:hover{
    letter-spacing: 0.1rem;
    background-color: #5D58EF;
    color: #fff;
    font-weight: 600;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}

.btn-primary:hover{
    border: 1px solid #ccc;
    color: #FEA301;
    background-color: #fff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}
.btn-secondary:hover{
    background-color: #fff;
    border: 1px solid #ccc;
    color: #111111;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
/* header-banner-part */
.banner-container{
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.banner-content{
    max-width: 540px;
}
.banner-title{
    font-size: 3.4rem;
    margin-bottom: 0.8rem;
}
/* marquee section */

.marquee-section{
    max-width: 80%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    border-radius: 15px;
    margin: 2rem auto;
    overflow: hidden;
    font-size: 2rem;
    color: #111111;
    font-weight: 600;
    white-space: nowrap;
    text-shadow: -20px 30px 20px rgba(255,0,0,0.4);
}

/* curriculum-section */
.curriculum-section{
    background-image: url(assets/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
}
.curriculum-title{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 6rem;
    margin-bottom: 8rem;
}
.curriculum-container{
    max-width: 1160px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem auto;

}
.curriculum-card-1{
    width: 260px;
    height: 380px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(180deg,rgba(1,172,253,0.3),rgba(255,255,255,0.3));
}

.curriculum-card-2{
    width: 260px;
    height: 380px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(180deg,rgba(254,163,1,0.3),rgba(255,255,255,0.3));

}
.curriculum-card-3{
    width: 260px;
    height: 380px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(180deg,rgba(170, 85, 245,0.3),rgba(255,255,255,0.3));
}

.card-img{
    margin-bottom: 1.4rem;
}
.card-title{
    margin-bottom: 0.2rem;
}
.card-description{
    margin-bottom: 1rem;
    color: #616161;
}
.btn-card{
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: ease-out 0.2s;
    font-weight: 600;
}
.btn-color-1{
    color: rgb(0, 159, 233);
}
.btn-color-2{
    color: rgb(254, 161, 1);
}
.btn-color-3{
    color: rgb(136, 0, 255);
}
.curriculum-card{
    transition: all 0.3s ease-in-out;
}
/* card-hover */
.curriculum-card:hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.btn-color-1:hover{
    background-color: rgb(0, 159, 233);
    color: #fff;
}
.btn-color-2:hover{
    background-color: rgb(254, 161, 1);
    color: #fff;
}
.btn-color-3:hover{
    background-color: rgb(136, 0, 255);
    color: #fff;
}

.angle{
    justify-content: center;
    gap: 2rem;
}

.left-angle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #FEA301;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}
.right-angle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #FEA301;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

/* story section */

.story{
    background-image: url(assets/bg.png), linear-gradient(0deg, rgba(254,163,1,0.3),rgba(255,255,255,0.3)100%);
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 3rem;
    margin-top: 4rem;
}
.story-section{
    max-width: 1160px;
    margin: 0 auto;
}
.section-title h1{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
}
.story-container{
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.container-1{
    max-width: 502px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
}
.container-1>img{
    width: 100%;
    border-radius: 8px 8px 0 0;
    margin-bottom: 1.5rem;
}
.content-1{
    padding: 0 1rem;
    margin-bottom: 2rem;
}
.content-1-btn{
    padding: 0.4rem 2rem;
    border-radius: 14px;
    border: 1px solid #05D4DF;
    color: #fff;
    background-color: #05D4DF;
    cursor: pointer;
    margin-bottom: 1rem;
    position: relative;
    top: -42px;
    transition: 0.3s ease-in-out;
}
.content-1-btn:hover{
    background-color: #fff;
    color: #05D4DF;
}
.content-1-title{
    font-size: 1.8rem;
    position: relative;
    top: -30px;
}
.description{
    color: #979595;
}
.container-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.context{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.context img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.context-title{
    padding: 0 1.2rem;
}
.context-btn{
    padding: 0.4rem 1rem;
    border-radius: 15px;
    border: 1px solid #95B226;
    background-color: #95B226;
    color: #fff;
    position: relative;
    top: -20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.context-btn:hover{
    background-color: #fff;
    color: #95B226;
}
.context-diff-btn{
    border: 1px solid #5D58EF;
    background-color: #5D58EF;
    color: #fff;
}
.context-diff-btn:hover{
    background-color: #fff;
    color: #5D58EF;
}

.view-btn-container{
    width: 200px;
    height: 70px;
    margin: 6rem auto 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-btn{
    padding: 1rem 2.4rem;
    font-size: 1.2rem;
    border-radius: 8px;
    background-color: #111111;
    color: #fff;
    font-weight: 700;
    border: 1px solid #111111;
    transition: 0.3s ease-in-out;
}
.view-btn:hover{
    background-color: #fff;
    color: #111111;
}

/* footer section */

.footer{
    width: 100%;
    background-color: #01ACFD;
}
.footer-container{
    max-width: 1064px;
    margin: 0 auto;
    padding: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
}
.kids-container{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.kids-container h1{
    color: #fff;
    margin-left: 1rem;
    cursor: pointer;
}
.education-title{
    transition: 0.3s ease-in;
}
.education-title:hover{
    color: #FEA301;
}
.kids-education p{
    max-width: 320px;
    color: #f0e5e5;
    font-size: 0.8rem;
}
.about-section{
    line-height: 40px;
}
.about-section a{
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in;
}
.about-section h4 a:hover{
    color: #FEA301;
}
.keep-in-touch h1{
    color: #fff;
    margin-bottom: 2rem;
}
.social-logo{
    cursor: pointer;
}
.social-logo img{
    margin-right: 1.2rem;
    transition: all 0.2s step-end;
}
.social-logo img:hover{
    filter: brightness(50%);
}
.margin-top{
    margin-top: 0;
}
/* make me responsive */

@media screen and (max-width: 576px) {
    .ul-container,
    .header-title{
        display: none;
    }
    .bar{
        display: block;
    }
    .navbar{
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #ccc;
        box-shadow: 10px 0 15px rgba(0, 0, 0, 0.3);
        margin-bottom: 2rem;
    }
    .bar>p>i{
        font-size: 3rem;
    }
    .banner-container{
        flex-direction: column-reverse;
        padding-bottom: 3rem;
    }
    .banner-img{
        width: 100%;
    }
    .banner-img>img{
        width: 90%;
        margin-left: 5%;
    }
    .banner-content{
        text-align: center;
    }
    .curriculum-container{
        flex-direction: column;
    }
    .curriculum-card{
        width: 80%;
    }
    .angle{
        display: none;
    }
    .container-1{
        display: none;
    }
    .container-2{
        margin: 0 1rem;
    }
    .footer-container{
        flex-direction: column;
    }
    .context-btn{
        font-size: 0.6rem;
    }
    .context h3{
        font-size: 0.7rem;
    }
}